<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
            <h2><img src="btindall_pic.jpg" alt="picture" align="left" style="width:3.5em;height:3.5em">BENJAMIN TINDALL</h2>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/btindall_resume.pdf">Download CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tindall.ben@gmail.com">email</a></li>
	        		<li><a href="https://www.linkedin.com/in/benjamintindall">LinkedIn/benjamintindall</a></li>
				</ul>
			</footer>
		</body>
	</html>
