<!DOCTYPE html>
	<html>
		<head>
			<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
            <h2 align="middle"><img class="img-circle" src="btindall_pic.jpg" alt="ben tindall picture" align="left" style="width:90px;height:90px">  BENJAMIN <span class="bold"> TINDALL </span></h2>
			<nav>
	    		<ul>
	        		<li><a class="button" href="/">Home</a></li>
	        		<li><a class="button" href="/btindall_resume.pdf">Download CV</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tindall.ben@gmail.com">Email</a></li>
	        		<li><a href="https://www.linkedin.com/in/benjamintindall">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
